<div class="toc-block">
  <h3>Middleman の基礎</h3>
  <ul>
      <li><a href="/getting-started/">はじめに</a></li>
      <li><a href="/templates/">テンプレート</a></li>
      <li><a href="/helpers/">テンプレートヘルパ</a></li>
      <li><a href="/frontmatter/">Frontmatter</a></li>
      <li><a href="/dynamic-pages/">動的ページ</a></li>
      <li><a href="/asset-pipeline/">アセットパイプライン</a></li>
      <li><a href="/pretty-urls/">きれいな URL (ディレクトリインデックス)</a></li>
      <li><a href="/livereload/">LiveReload</a></li>
      <li><a href="/minify-html/">HTML の圧縮</a></li>
      <li><a href="/blogging/">ブログ機能</a></li>
  </ul>
</div>

<div class="toc-block">
  <h3>高度な機能</h3>
  <ul>
      <li><a href="/advanced/local-data/">ローカルデータ</a></li>
      <li><a href="/advanced/localization/">多言語化 (i18n)</a></li>
      <li><a href="/advanced/sitemap/">サイトマップ</a></li>
      <li><a href="/advanced/rack-middleware/">Rack ミドルウェア</a></li>
      <li><a href="/advanced/custom/">カスタム拡張</a></li>
      <li><a href="/advanced/file-size-optimization/">ファイルサイズの最適化</a></li>
      <li><a href="/advanced/improving-cacheability/">キャッシュ機能による改善</a></li>
  </ul>
</div>

<div class="toc-block">
  <h3>コミュニティ</h3>
  <ul>
      <li><a href="/community/3rd-party-extensions/">コミュニティ拡張</a></li>
      <li><a href="/community/3rd-party-project-templates/">コミュニティプロジェクトテンプレート</a></li>
      <li><a href="/community/deployment-solutions/">デプロイ方法</a></li>
      <li><a href="/community/built-using-middleman/">Middleman 使用サイト</a></li>
      <li><a href="http://forum.middlemanapp.com/" target="_blank">コミュニティフォーラム</a></li>
      <li><a href="https://github.com/middleman/middleman" target="_blank">GitHub リポジトリ</a></li>
  </ul>
</div>
