---
title: "コミュニティプロジェクトテンプレート"
---

<h1>コミュニティプロジェクトテンプレート</h1>

<ul>
  <li>
    <a href="https://github.com/nathos/amicus">Amicus</a>
    &mdash; HTML5 Boilerplate 4.0, Sass, Compass と レスポンシブレイアウト対応の Susy, これらの最新のコンポーネントに対応。
  </li>
  <li>
    <a href="https://github.com/theblacksmith/chubbs">CHUBBS!</a>
    &mdash; <a href="http://svallory.github.com/">Blacksmith</a> を使った Middleman Compass (Uhu!) Boilerplate Bootstrap Sass テンプレート。
  </li>
  <li>
    <a href="https://github.com/dannyprose/Middleman-HTML5BP-HAML">HTML5 Boilerplate: HAML & SCSS</a>
    &mdash; HAML に変換された HTML5 Boilerplate 3.0。 <a href="http://susy.oddbird.net/">Susy</a> も使えます。
  </li>
  <li>
    <a href="https://github.com/vocino/middleman-foundation">Middleman-Foundation</a>
    &mdash; Compass, SCSS, HAML を用いる ZURB Foundation。
  </li>
  <li>
    <a href="https://github.com/BryanSchuetz/middleman-frameless">Middleman-Frameless</a>
    &mdash; <a href="http://framelessgrid.com/">Frameless</a> グリッドを SASS に適用した基本プロジェクトテンプレート。
  </li>
  <li>
    <a href="https://github.com/pixelsonly/middleman-phonegap">middleman-phonegap</a>
    &mdash; Haml, Sass, Coffeescript を使った Phonegap 開発テンプレート。自動的にコンパイルしビルド後 Phonegap アプリケーションをエミュレートします。
  </li>
  <li>
    <a href="https://github.com/nsteiner/middleman-smacss">Middleman-SMACSS</a>
    &mdash; Middleman のための SMACSS タイプのスターターテンプレート。
  </li>
  <li>
    <a href="https://github.com/mattolson/middleman-zurb-template">middleman-zurb-template</a>
    &mdash; ZURM Foundation, センシティブな標準コンポーネントやテンプレートを含む Middleman ブログテンプレート。
  </li>
  <li>
    <a href="https://github.com/edwardloveall/middleman-template-single-page-with-bourbon">Single Page with Bourbon</a>
    &mdash; <a href="http://timbreapp.com">シングルページ</a> のサイトに向いてます。<a href="http://bourbon.io">Bourbon</a> を統合。
  </li>
</ul>

<footer>
  <%= link_to "Fork and add your project template on Github", "https://github.com/middleman/middleman-guides/blob/master/source/community/3rd-party-project-templates.html.erb" %>
</footer>
