---
title: "コミュニティ拡張"
---

<h1>コミュニティ拡張</h1>


<ul>
  <li>
    <a href="https://github.com/middleman/middleman-syntax">middleman-syntax</a>
    &mdash; コードのシンタックスハイライト
  </li>
  <li>
    <a href="https://github.com/Linuus/middleman-rouge">middleman-rouge</a>
    &mdash; Rouge と Redcarpet を用いたコードのシンタックスハイライト
  </li>
  <li>
    <a href="https://github.com/middleman/middleman-smusher">middleman-smusher</a>
    &mdash; ビルド時に画像を圧縮
  </li>
  <li>
    <a href="https://github.com/matt-hh/middleman-jammit">middleman-jammit</a>
    &mdash; Middleman に Jammit を使用
  </li>
  <li>
    <a href="https://github.com/follmann/middleman-favicon-maker">middleman-favicon-maker</a>
    &mdash; 元画像から様々サイズの favicon ファイルを生成
  </li>
  <li>
    <a href="https://github.com/xunker/middleman-target">middleman-target</a>
    &mdash; ビルドターゲット別にソースを作成, ビルドする
  </li>
  <li>
    <a href="https://github.com/karlfreeman/middleman-sync">middleman-sync</a>
    &mdash; Middleman でビルドしたファイルを S3 などと同期する
  </li>
  <li>
    <a href="https://github.com/fredjean/middleman-s3_sync">middleman-s3_sync</a>
    &mdash; 頑張って S3 にファイルをプッシュしないようにします(この動作をしなくてよければ、喜んでプッシュします)。
  </li>
  <li>
    <a href="https://github.com/fredjean/middleman-s3_redirect">middleman-s3_redirect</a>
    &mdash; 新しい場所に URL をリダイレクトするために S3 を設定する
  </li>
  <li>
    <a href="http://tvaughan.github.com/middleman-deploy/">middleman-deploy</a>
    &mdash; Middleman でビルドしたファイルを rsync でデプロイする
  </li>
  <li>
    <a href="https://github.com/middleman/middleman-livereload">middleman-livereload</a>
    &mdash; Middleman のファイルが変更されたら自動的にブラウザをリフレッシュする
  </li>
  <li>
    <a href="https://github.com/yeah/middleman-svg-fallback">middleman-svg-fallback</a>
    &mdash; 任意の SVG ファイルから JPEG や PNG ファイルを生成
  </li>
  <li>
    <a href="https://github.com/fgrehm/middleman-blog-drafts">middleman-blog-drafts</a>
    &mdash; 下書き記事の作成や公開を簡単にする middleman-blog アドオン
  </li>
  <li>
    <a href="https://github.com/andrusha/middleman-cloudfront">middleman-cloudfront</a>
    &mdash; ビルドされたファイルが S3 にデプロイされた場合に, CloudFront のキャッシュを無効化
  </li>
  <li>
    <a href="https://github.com/neo/middleman-gh-pages">middleman-gh-pages</a>
    &mdash; Github Pages に Middleman サイトを簡単デプロイ。
  </li>
</ul>

<h2>有料拡張</h2>

<ul>
  <li>
    <a href="http://middleman-blog-editor.awardwinningfjords.com">Middleman Blog エディタ</a>
    &mdash; ブログ管理と <a href="http://en.wikipedia.org/wiki/WYSIWYG">WYSIWYG</a> 投稿
  </li>
</ul>

<footer>
  <%= link_to "Fork and add your extension on Github", "https://github.com/middleman/middleman-guides/blob/master/source/community/3rd-party-extensions.html.erb" %>
</footer>
