---
title: "コミュニティプロジェクトテンプレート"
---

<h1>コミュニティプロジェクトテンプレート</h1>

<ul>
  <li>
    <a href="https://github.com/nathos/amicus">Amicus</a>
    &mdash; HTML5 Boilerplate 4.0, Sass, Compass と レスポンシブレイアウト対応の Susy, これらの最新のコンポーネントに対応。
  </li>
  <li>
    <a href="https://github.com/theblacksmith/chubbs">CHUBBS!</a>
    &mdash; <a href="http://svallory.github.com/">Blacksmith</a> を使った Middleman Compass (Uhu!) Boilerplate Bootstrap Sass テンプレート。
  </li>
  <li>
    <a href="https://github.com/dannyprose/Middleman-HTML5BP-HAML">HTML5 Boilerplate: HAML & SCSS</a>
    &mdash; HAML に変換された HTML5 Boilerplate 3.0。 <a href="http://susy.oddbird.net/">Susy</a> も使えます。
  </li>
  <li>
    <a href="https://github.com/vocino/middleman-foundation">Middleman-Foundation</a>
    &mdash; Compass, SCSS, HAML を用いる ZURB Foundation。
  </li>
  <li>
    <a href="https://github.com/axyz/middleman-zurb-foundation">Middleman-Zurb-Foundation</a>
    &mdash; Compass, SCSS を用いる ZURB Foundation。
  <li>
    <a href="https://github.com/leoalves/middleman-gumby-haml.git">Middleman-Gumby-Haml</a>
    &mdash; Sass と HAML を用いる Gumby Css フレームワーク。
  </li>
  <li>
    <a href="https://github.com/BryanSchuetz/middleman-frameless">Middleman-Frameless</a>
    &mdash; <a href="http://framelessgrid.com/">Frameless</a> グリッドを SASS に適用した基本プロジェクトテンプレート。
  </li>
  <li>
    <a href="https://github.com/pixelsonly/middleman-phonegap">middleman-phonegap</a>
    &mdash; Haml, Sass, Coffeescript を使った Phonegap 開発テンプレート。自動的にコンパイルしビルド後 Phonegap アプリケーションをエミュレートします。
  </li>
  <li>
    <a href="https://github.com/nsteiner/middleman-smacss">Middleman-SMACSS</a>
    &mdash; Middleman のための SMACSS タイプのスターターテンプレート。
  </li>
  <li>
    <a href="https://github.com/mattolson/middleman-zurb-template">middleman-zurb-template</a>
    &mdash; ZURB Foundation, センシティブな標準コンポーネントやテンプレートを含む Middleman ブログテンプレート。
  </li>
  <li>
    <a href="https://github.com/edwardloveall/middleman-template-single-page-with-bourbon">Single Page with Bourbon</a>
    &mdash; <a href="http://timbreapp.com">シングルページ</a> のサイトに向いてます。<a href="http://bourbon.io">Bourbon</a> を統合。
  </li>
  <li>
    <a href="https://github.com/indirect/middleman-heroku-static-app">Middleman-Heroku</a>
    &mdash; Heroku 用の基本プロジェクトテンプレート。
  </li>
  <li>
    <a href="https://github.com/caedes/middleman-ratchet">Middleman-Ratchet</a>
    &mdash; モバイル用プロトタイプ作成テンプレート <a href="http://maker.github.com/ratchet/">Ratchet</a> サポートを追加する Middleman プラグイン。
  </li>
  <li>
    <a href="https://github.com/BryanSchuetz/middleman-blog-frameless">Middleman-Blog-Frameless</a>
    &mdash; <a href="http://framelessgrid.com/">Frameless</a> の SASS グリッドを適用した Middleman-Blog プロジェクト の基本テンプレート。
  </li>
  <li>
    <a href="https://github.com/pixelsonly/middleman-hamlsasscoffee">Haml, SASS, Coffeescript を Middleman にセットアップ</a>
  </li>
  <li>
    <a href="https://github.com/blackbiron/middleman-impress">middleman-impress</a>
    &mdash; HTML プレゼンテーションのために, Haml, SASS, impress.js* を設定します。
  </li>
  <li>
    <a href="https://github.com/reefab/ResumeMan">ResumeMan</a></a>
    &mdash; Middleman をあらかじめ設定された形式の PDF エクスポート対応の履歴書発行プロジェクトに設定します。
  </li>
  <li>
    <a href="https://github.com/nathanlong/middleman-combined">Middleman-Combined</a></a>
    &mdash; mobile-first, IE サポートしたインライン Media クエリを含むベアボーンテンプレート。プロトタイプに最適。
  </li>
</ul>

<footer>
  <%= link_to "Fork and add your project template on Github", "https://github.com/middleman/middleman-guides/blob/master/source/community/3rd-party-project-templates.html.erb" %>
</footer>
